@model WebApplication1.Models.Utenti

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h2>Login</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.NomeUtente, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NomeUtente, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomeUtente, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    }

    @Html.ActionLink("Back to Home", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
